/* Huisstijl Transavia toegepast */
/* CSS RESET */
*{
	box-sizing: border-box;
	margin: 0;
	padding:0;
	border:0;
}

/* Body */
body{
	background-color: #f2f2f2;
	font-family: 'Open Sans', sans-serif;
	color: #232323;
}


/* Tekst */ 
h1{
	margin-top: -0.5rem;
  color: #fff;
  font-size: 4rem;
	font-family: 'Roboto Slab', serif;
}

h2{
	z-index: 9999;
	font-size: 1rem;
	font-style: italic;
}

h3{
	padding:0.5em 0em 1.5em 0em;
}

a {
	font-size: 0.75em;
	color: #3299cc;	
	text-decoration: none;
}

a:hover{
	color:#000;
}

/* span */
span{
	padding:0.5em 0.5em 0.5em 0em;
	color: #fff;
	font-size: 0.75rem;
	display: block;
}


/* Header */ 

header{
	background-color: #fff;
	width: 100%;
	height: 3em;
	line-height: 3em;
}

header > div {
	/*background-image: url(../img/home-section-VID.jpg);
	background-size: cover;*/
	background: linear-gradient(to bottom right, #3299cc, #4ebed0);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0% 0%, 100% 0, 100% 71%, 0% 100%);
  width: 100%;
  height: 535px;
	text-align: center;
}

header div p{
	letter-spacing: 0.5rem;
}

header div img{
	height: 70px;
  margin-top: 3rem;
	
	-webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}


@-webkit-keyframes bounceIn {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  90% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }



  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* main */

main {
	
}

section:nth-child(1){
	max-width: 70rem;
	margin:0 auto;
	margin-top: 17rem;
	padding: 2em;
	display: grid;
  grid-gap: 2em 2em;
	animation-name: artikelen;
	animation-duration: 1s;
	animation-delay: 0.01s;
}

@keyframes artikelen{
  0%   {opacity: 0.1 ;}
  100% {opacity: 1 ;}
}

section:nth-child(1) h2 {
	grid-column:1 / 4;
	margin-bottom: -25px;
}

/* articles */
section:nth-child(1) article {
  background-color: rgba(255, 255, 255, 0.8);
	border-radius: .2em;
	width: 20rem;
	padding:2em;
	margin:0 auto;
	z-index: 9999;
		
	-webkit-box-shadow: 0px 0px 45px -19px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 0px 45px -19px rgba(0,0,0,0.57);
	box-shadow: 0px 0px 45px -19px rgba(0,0,0,0.57);	
}

article p {
	font-size: 0.75em;
}

article a {
	padding:0.5em 0em 0.5em 0em;
	display: inline-block;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.18); }
  100% { transform: scale(1); }
}

article img{
	width:100%;
	width: calc(100% + 4em);
	margin:-2em -2em 0 -2em;
	border-radius:.2em .2em 0 0;
}

section:nth-child(2){
	background: linear-gradient(to bottom right, #3299cc, #4ebed0);
	-webkit-clip-path: polygon(0 0, 100% 10%, 100% 29%, 0 35%);
	clip-path: polygon(0 0, 100% 10%, 100% 29%, 0 35%);
  width: 100%;
  height: 1000px;
	text-align: center;
}

section:nth-child(2) article{
	padding-top: 4rem;
  max-height: 100px;
  color: #fff;
  text-align: left;
  margin-left: 10rem;
}

section:nth-child(2) article p{
	width: 17rem;

}

section:nth-child(2) article img{
    width: 50%;
    float: right;
    margin-top: -22px;
}

section:nth-child(2) article a{
	color:#000;
}

section:nth-child(2) article a:hover{
	color:#fff;
}











/* Media Queries */

/* Tablet formaat */
@media (max-width:63em) {

section:nth-child(1) h2 {
	grid-column:1 / 3;
	margin-bottom: -25px;
}




	
/* Smartphone formaat */	
@media (max-width:40em) {
	
section:nth-child(1) h2 {
	grid-column:1 / 2;
	margin-bottom: -25px;
}

